html {
    color: rgb(16, 16, 16);
    margin: 2rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section {
    margin: 2rem 0;

}



h1 {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}
    
h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

p {
    line-height: 1.5;
}

li {
    line-height: 1.5;
    list-style: square;
}

img {
    width: 80vw;
}